.footer{
    background-color: black;
    width: 100%;
    height: 100px;  
    display: flex; 
    align-items: center;
    justify-content:space-evenly ;  
    color:white;
    margin-bottom: 0%;
}

ul{
    list-style: none;
}

.link{
    color: white;
}
