.footer{
    background-color: black;
    margin-top: 680px;
    width: 100%;
    height: 100px;  
    display: flex; 
    align-items: center;
    justify-content:space-evenly ;  
    color:white
}

ul{
    list-style: none;
}

.link{
    color: white;
}
