@import './menu.css';
@import './botones.css';
@import './footer.css';

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner{
 font-family:'Times New Roman', Times, serif;
 text-align: center;
 color: rgb(255, 255, 255);
 font-size: medium;
 padding: 5px;
 margin: 15%;
}





