@import './boton.css';

.menu{
    background-color: black;
    display: flex;
    align-items: center;
    list-style:none;
    justify-content:space-evenly ;
    height: 50px;
    
    
}
.menu a {
    color: rgb(255, 251, 251);
    text-decoration: none;
}

