@import './menu.css';
@import './botones.css';
@import './footer.css';

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.titulo{
    background-color: rgb(157, 106, 12);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    text-align: center;
    color: #ffffff;
    border-radius: 5%;
}

.clientes{
    width: 15%;
    height: 15%;
}



