
@import './menu.css';
@import './botones.css';
@import './footer.css';

h2{
    color: rgb(157, 106, 12);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
}

.logo{
    width: 5%;
    height: 5%;
}

.row {
    display: flex;
}

.column1 {
    flex: 50%;
    padding: 5%;
    background-image: url(https://www.gob.mx/cms/uploads/article/main_image/106628/AGUA_2.jpeg);
    background-repeat: no-repeat;
   
    background-size: cover;
}

.column2{
    flex: 50%;
    padding: 5%;
    height: 100%;
    background-image: url(https://humanidades.com/wp-content/uploads/2016/06/suelo-planta-e1558823997978.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size:larger;
    text-align: center;
    color: white;
}

.texto{
    background-color: rgb(35, 141, 233);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 60px; 
    text-align:left;
    height: 70%;
}

.imagen{
    width: 36%;
    height: 36%;
    margin:auto;
    display:block;
    border-radius: 10%;
    
}
