

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    background: rgb(0, 0, 0);
    color: white;
    width: 400px;
    height: 500px;
    border-radius: 8%;
}

h1{
    font-size: 36px;
    text-align: center;
}

input{
    width: 80%;
    text-align: center;
    margin-left: 9%;
}


label{
    margin: 12%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.genero{
    display: flex;
}

.registrarme{
   background-color: rgb(157, 106, 12);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   color:white;
}

    
    