@import './menu.css';

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner{
    width: 600px;
    height: 400px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -120px 0 0 -120px
}

img{
    width: 25%;
    height: 30%;
}