@import './menu.css';

body{
    background-color: blue;
}

.banner{
    background-color: aliceblue;
    width: 600px;
    height: 400px;
    color: rgb(13, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -120px 0 0 -120px
}

img{
    width: 25%;
    height: 30%;
}