.boton1{
    border: 1px solid rgb(157, 106, 12); 
    padding: 10px; 
    background-color: rgb(157, 106, 12);
    border-radius: 50px; 
    width: 110px;
   }
   
   .boton1 a {
    color: #ffffff; 
    text-decoration: none; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boton2{
    
    border: 1px solid rgb(157, 106, 12); 
    padding: 10px; 
    background-color: rgb(157, 106, 12);
    border-radius: 50px; 
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
   
  
.boton2 a {
    color: #ffffff; 
    text-decoration: none; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width:480px) {
    .boton1{
        margin: 40px;
    }
}