@import './menu.css';
@import './botones.css';
@import './footer.css';

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 70px;
    padding: 5px;
    margin: 15%;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    width: 100px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}